extends layoutco

block content
  br
  br
  form(action='/accueil', method='POST')
    textarea(name='tweet', rows=3, columns=50)
    input(type='submit', content='Envoyer !')
    
  ul
    - each tweet in tweets
      li= tweet
