extends layout

block content
  //top barre
  #navigation.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          h3.titre
            span.glyphicon.glyphicon-eye-open  Watcher
        .form.navbar-form.navbar-right
          a.btn.btn-primary.btn-default(href='/')
            span.glyphicon.glyphicon-user  Déconnexion
  br
  br
  br
  br
  .container
    h3.pied A vos Tweets ! 
    form(action='/accueil', method='POST')
      input(type='text', name='pseudo', placeholder=' Un pseudo humiliant')
      br
      br
      textarea(name='tweet', rows=4, cols=150, placeholder="Exprime-toi mais pas trop on t'aime pas (lim : 142 car)", maxlength='142')
      br
      
      input.submit(type='submit', content='Envoyer !' id="submit")

      - each tweet in tweets
        h4.pied #{tweet.pseudo} a posté :
        .tweet
          p= tweet.tpost
        br
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
