extends layout

block content
  br
  br
  p Connectez-vous pour contribuer à la connerie du site !
  br
  h4 ton pseudo :
  input(type='text', placeholder='spaceinvaders67')
  h4 mot de passe-partout :
  input(type='password', placeholder='123456789')


