doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/formu.css')
  body
  //top barre
  #navigation.navbar.navbar-default.navbar-top
      .container
        .navbar-header
          h3.titre
            span.glyphicon.glyphicon-eye-open  Watcher
        .form.navbar-form.navbar-right
          input.form-control(type='text', placeholder='email')
          input.form-control(type='password', placeholder='Password')
          a.btn.btn-primary.btn-default(href='/accueil')
            span.glyphicon.glyphicon-ok  Connexion
  br
  br
  #contact
    .container
      .row
        .col-sm-6
          h3 Envie de nous raconter quelque chose ?
          h4 Envoie un email ! 
          br
          form(role='form', action='mailto:nathan.urbainlopes@gmail.com', method='post', enctype='plain')
            .form-group
              label(for='name1') Ton blaze
              input#name1.form-control(type='name', name='Name', placeholder='Monsieur nimportequi')
            .form-group
              label(for='email1') Ton email
              input#email1.form-control(type='email', name='Mail', placeholder='jaimebrulerlesnourrissons@msn.fr')
            .form-group
              label On a fait cette page juste pour faire semblant d'être proche des utilisateurs donc tes requêtes ne seront pas prises en compte              
              textarea.form-control(name='Message', placeholder='Une requête ? OSEF' rows='3')
              br
              button.btn.btn-large(type='submit') 
                span.glyphicon.glyphicon-send  Envoyer
  #footer
    .container
      .row
          .col-sm-1
            a(href='/') Retour
          .col-sm-3.col-sm-offset-8
            .citation
              p ©2015 Watcher.Tous droits réservés

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
            
