extends layoutnoco

block content
  h3 Bienvenue sur Hauer

  p Connectez vous pour accéder au site

  p Ce site a pour objectif de dominer le monde et ces abrutis d'humains. Nous gagnerons la guerre contre tous ces réseaux sociaux!
