extends layoutnoco

block content

	.container
		.row
			.col-sm-7
				img(src='image/imgindex.jpg', alt='eau')
			.col-sm-5
				h3 Bienvenue sur Watcher
				p Connectez vous pour accéder au site
				p Ce site a pour objectif de dominer le monde et ces abrutis d'humains. Venez prendre part à la domination !
