doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
  //top barre
  #navigation.navbar.navbar-default.navbar-top
      .container
        .navbar-header
          h3.titre
            span.glyphicon.glyphicon-eye-open  Watcher
        .form.navbar-form.navbar-right
          input.form-control(type='text', placeholder='email', name='mail')
          input.form-control(type='password', placeholder='Password', name='password')
          a.btn.btn-primary.btn-default(href='/accueil')
            span.glyphicon.glyphicon-ok  Connexion
  //présentation
  #register
      br
      br
      .container
        .row
          .col-md-4
            h2.presentation Bienvenue sur Watcher
            p Connectez vous pour accéder au site
            p Ce site a pour objectif de dominer le monde et ces abrutis d'humains. Venez prendre part à la domination !
            
            br
            br
            .citation
              p "Conviviale est la société où l'homme contrôle l'outil."
            p Ivan Illich
          .col-md-4.col-md-offset-3
            h2.presentation Inconnu au Bataillon ?
            h4.presentation Inscrit toi !
            br
            h5 Pseudo
            input.form-control(type='text', placeholder='Licornedu67' , class="txt" maxlength='30')
            h5 Mot de passe
            input.form-control(type='password', placeholder='666' , class="txt" , maxlength='30')
            h5 Mail
            input.form-control(type='email', placeholder='Ex : mailpastropridicule@gmail.com' class="txt" maxlength='30')
            br
            a.btn.btn-primary.btn-sm(href='/accueil')
              span.glyphicon.glyphicon-edit  Inscription

  #footer.navbar.navbar-default.navbar-fixed-bottom
      .container
        .row
          .col-md-6
            h4.pied Infos inutiles
            p Ne nous contactez surtout pas au : 36 65 65 65 
            p Mais vous pouvez peut etre nous écrire si vous vous sentez obligé 
            a(href='/formu') L'addresse tant convoitée pour nous contacter
          .col-md-6
            h4.pied Les conquistador de jade
            p Nathan Urbain : Designer,pro css / bootstrap, master des jeux de mots
            p Yanis Chibout : Administrateur, pro javascript / jade, master du trolling
        .row
          .col-md-3.col-md-offset-9
            .citation
              p ©2015 Watcher.Tous droits réservés
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
            
