extends layoutnoco

block content
  h3 Bienvenue sur Watcher

  p Connectez vous pour accéder au site

  p Ce site a pour objectif de dominer le monde et ces abrutis d'humains. Venez prendre part à la domination !
