doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/layoutco.css')
	body
		h1 Hauer
		a(href='/')
			input(type='button', value='Déconnexion')
    
block content

	h3 Pour plus d'infos inutiles :
	p Ne nous contactez surtout pas au : 36 65 65 65
	p 14.50/min
	h3 Les conquistador de jade
	a(href='nathan.urbainlopes@gmail.com') Le bausse de l'aurteaugraffe
	br
	a(href='yanis.chibout@gmail.com') Le Rabzou aux pieds carrés	
	
	
	
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
