doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layoutnoco.css')
  body
    h1 Hauer
    a(href='/connexion')
      input(type='button', value='Connectez-vous')
      
    a(href='/register')
      input(type='button', value='Inscrivez-vous')
    br
    br
    br
    
    block content
    
    br
    br
    br
    h3 Pour plus d'infos inutiles :
    p Ne nous contactez surtout pas au : 36 65 65 65
    p 14.50/min
    h3 Les conquistador de jade
    a(href='nathan.urbainlopes@gmail.com') Le bausse de l'aurteaugraffe
    br
    a(href='yanis.chibout@gmail.com') Le Rabzou aux pieds carrés	
