extends layoutnoco
 
block content
	.container
		h2 Inscrivez-vous afin de faire partie de cette aventure ! 
		em -Dora L'exploratrice
		br
		
		h3 Votre pseudo :
		input(type='text', placeholder='Ex : Pasbesoindexemple' class="txt")
		
		h3 Votre mot de passe :
		input(type='password', placeholder='Ex : 0000' class="txt")
		
		h3 Répéter mot de passe :
		input(type='password' class="txt")
		
		h3 Votre mail :
		input(type='email', placeholder='Ex : mailpastropridicule@gmail.com' class="txt")
		
		br
		h2 Infos personnelles :
		br
		
		h3 Votre nom :
		input(type='text' class="txt")
		
		h3 Votre prénom :
		input(type='text' class="txt")
		
		h3 Votre sexe :
		input(type='radio' name='sexe' value='Homme' id='Homme')
		label(for='Homme') Homme
		input(type='radio' name='sexe' value='Femme' id='Femme')
		label(for='Femme') Femme
		
		h3 Votre âge :
		input(type='number')
		br
		br
		a(href='/connexion')
			input(type='button', value='Inscrivez-vous !')
		br
		br
		br