 extends layoutnoco
 
block content
	br
	br
	p Inscrivez-vous afin de faire partie de cette aventure ! -Dora L'exploratrice
	br
	h3 Votre pseudo :
	input(type='text', placeholder='Ex : Pasbesoindexemple')
	h3 Votre mot de passe :
	input(type='password', placeholder='Ex : 0000')
	h3 Répéter mot de passe :
	input(type='password')
	h3 Votre mail :
	input(type='text', placeholder='Ex : mailpastropridicule@gmail.com')
	br
	br
	a(href='/connexion')
      input(type='button', value='Inscrivez-vous !')
