.tweet {
	width:1172px;
	height:60px;
	margin-left:50px;
	padding:10px;
	background:#D3D3D3;
	color:#FFFFFF;
	border:1px solid #D3D3D3;
	font-weight:900;
	border-radius:5px;
}

textarea {
	border-radius: 5px;
}

#submit {
	border-radius:5px;
}
