body
{
background-color:#FFFFFF;
background-image:url(/images/fond.png);
background-repeat:no-repeat;
background-position:right top;
}

p
{
color:#606060;
}

h3
{
color:#606060;
}

h4
{
color:#606060;
}

a
{
color:#505050;
}

a:hover
{
color:#FF9911;
}

.form-control
{
background-color:#E8E8E8;
}

.btn-default
{
background-color:#FF9911;
color:#E8E8E8;
border:none;
}

.btn-default:hover
{
background-color:#E8E8E8;
color:#FF9911;
border:none;
}

.titre
{
color:#E8E8E8;
}

.navbar-default
{
background-color:#FF9911;
}

.btn-large
{
border:none;
background-color:#FF9911;
color:#E8E8E8;
}
.btn-large:hover
{
background-color:#E8E8E8;
color:#FF9911;
}
@media screen and (max-width: 480px) 
{
#footer
{
display: none;
}
}

#footer
{
background-color:#E8E8E8;
position:fixed;
width:100%;
bottom:0px;
}
