body
{
background-color:#FFFFFF;
background-image:url(/images/fond.png);
background-repeat:no-repeat;
background-position:right top;
}

p
{
color:#606060;
}

h5
{
color:#606060;
}

a
{
color:#505050;
}

a:hover
{
color:#FF9911;
}
.titre
{
color:#E8E8E8;
}

.presentation
{
color:#606060;
}
.citation
{
font-style:italic;
color:#606060;
}
.form-control
{
background-color:#E8E8E8;
}

.btn-default
{
background-color:#FF9911;
color:#E8E8E8;
border:none;
}

.btn-default:hover
{
background-color:#E8E8E8;
color:#FF9911;
border:none;
}

.titre
{
color:#E8E8E8;
}

.navbar-default
{
background-color:#FF9911;
}

.btn-sm
{
border:none;
background-color:#FF9911;
color:#E8E8E8;
}
.btn-sm:hover
{
background-color:#E8E8E8;
color:#FF9911;
}

#footer
{
background-color:#E8E8E8;
position:fixed;
width:100%;
bottom:0px;
opacity: 0.4;
}

@media screen and (max-width: 480px) 
{
#footer 
{

display: none;
}
}
    
.pied
{
color:#FF9911;
}

.submit
{
border-radius: 15px;
background-color:#FF9911;
color:#E8E8E8;
}

input:hover
{
background-color:#E8E8E8;
color:#FF9911;
}

.tweet {
	width:900px;
	height:60px;
	margin-left:50px;
	padding:10px;
	background:#FFFFFF ;
	color:#606060;
	border:2px outset #D0D0D0 ;
	font-weight:900;
	border-radius:5px;
  word-wrap: break-word;
}

textarea {
	border-radius: 5px;
  width:900px;
  height:70px;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#submit {

	border-radius:5px;
}

input
{
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
border-radius: 5px;
}

.row
{
padding-top: 10px;
padding-bottom: 5 px;
}