body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #707070;
}

h1 {
  color: #707070 ;
}
h4{
color:#707070 ;
}

h3{
color:#707070 ;
}

.header{
  background-color: #C8C8C8;
  border: 2px solid white;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;}
.footer{
  background-color: #D0D0D0  ;
  border: 2px solid white;
  line-height: 40px;
  text-align:justify;
  border-radius: 5px;
}

.btn {
  color :#707070 ;
  background-color:#C8C8C8;
  border: 1px solid white;
}

p{
	color:#707070 ;}